<section class="section-md">
  <div class="container-lg py-3 flex flex-column gap-1_5">
    <div class="briefcase-header">
      <h1 class="heaader__title">Home</h1>
      <%= render "comment", tweet_new: @tweet_new, replied_to: nil %>
    </div>

    <div class="briefcase-summary__content">
      <% @tweets.each do |tweet| %>
         <%= render "tweet", tweet: tweet %>
      <% end %>
    </div>
  </div>
</section>




  


