
<section class="section-md">
  <div class="container-lg py-3 flex flex-column gap-1_5">
    <div class="briefcase-header">
      <h1 class="heaader__title">Tweets  Detail</h1>

      <%= render "tweet", tweet: @tweet_got %>

      <%= render "comment", tweet_new: @tweet_new, replied_to: @tweet_got %>
    </div>

    <div class="briefcase-summary__content">
      <% @tweet_got.replies.each do |tweet| %>
         <%= render "tweet", tweet: tweet %>
      <% end %>
    </div>
  </div>
</section>