<section class="section-md">
  <div class="container-lg py-3 flex flex-column gap-1_5">
    <div class="briefcase-header">
      <h1 class="heaader__title">Profile</h1>

      <%= render partial: "shared/tweet", collection: @tweets, as: :tweet %>
    </div>
  </div>
</section>
