<footer class="flex flex-column items-center" style="margin-top: auto">
      <div class="mb-4">
        <div class="mb-3">
          © 2021 - Codeable Critics
        </div>

        <div class="center-text">
          Build with ♥ by
        </div>
      </div>

      <div class="flex" style="gap: 1.3rem">
        <div class="flex wrap">
          <a href="https://github.com/camilo-j" class="github logo">
            <%= link_to image_tag('github_icon.png') %>
            <a href="https://github.com/camilo-j" class="github logo" style="color: black">
            Camilo Huanca</a>
          </a>
        </div>
      </div>
    </footer>