<header class="header">
  <section class="flex center">
  <%= link_to root_path do%>
    <%= image_tag('logo.png') %>
  <%end%>
  </section>
  <nav >
    <div class="flex center">
      <label for="nav">
      <%= image_tag('menu-line.png') %>  
      </label>
      <input type="checkbox" name="nav" id="nav" hidden>
    </div>
  </nav>
</header>