.briefcase-summary__header {
  margin-bottom: 3rem;
  text-align: center;
}

.briefcase-summary__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.briefcase-summary__tag {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag--content {
  display: inline-block;
  padding: 0.125rem 0.625rem;
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 10px;
  color: var(--gray-900);
  background-color: var(--green-100);
}

.tweet-card {
  background-color: white;
  padding: 1rem;
  padding-bottom: 0;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.briefcase-card__icon {
  display: flex;
  align-items: center;
  height: 28px;
  width: 28px;
  left: 248px;
  top: 8px;
  border-radius: 50px;
  padding: 6px;
  background: #757575;
}

.briefcase-card__icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}

.briefcase-card__icon-card {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--gray-100);
}

.briefcase-card__icon-card svg {
  width: 4rem;
  height: 1.5rem;
}

.briefcase-card__icon-card-url {
  text-decoration: none;
  color: var(--gray-300);
}

.briefcase-card__icon-card-url:hover {
  color: var(--gray-400);
}

/* New styles for tweets */

.briefcase-header{
display: flex;
flex-direction: column;
gap: 1rem;
}

.heaader__title{
  align-self: center;
}

.button-like{
  all: unset;
  cursor: pointer;
}

.header-card{
  display: flex;
  gap: 1rem;
}

.header-card__data{
  display: flex;
  gap: .5rem;
}

.footer-card{
  display: flex;
  justify-content: space-between;
}
svg{
  width: 1.5rem;
  height: 1.5rem;
  color: black;
}
.tweet-new{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: .5rem;
  background-color: white;
}

/* Styles for login */

.form__title {
  margin: 1rem 0;
  text-align: center;
}

.form__container {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  max-width: 450px;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  box-shadow: 0px 0px 30px -16px black
}

.form__field {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #D3D3D3;
  padding: 8px 12px
}

.form__field::placeholder {
  color: var(--gray-200);
 }

 .overline {
  letter-spacing: .125rem;
  text-transform: uppercase;
}