.header {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0.5rem 1rem;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar__login {
  margin: 0 auto;
  max-width: 1024px;
  background-color: #f2f2f2;
  position: absolute;
  top: 3.04rem;
  min-width: 360px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 96px;
  padding: 0 1rem;
  border: 2px solid #d3d3d3;
  color: #000;
}

.navbar__links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
  background-color: #f2f2f2;
  position: absolute;
  top: 3.04rem;
  min-width: 360px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 2px solid #d3d3d3;
  color: #000;
}

.navbar__links .link {
  list-style-type: none;
  text-decoration: none;
}

#menu-mobile,
#toggle-close {
  display: none;
}

.expandable {
  display: none;
}

#menu-mobile:checked ~ .expandable {
  display: flex;
}

#menu-mobile:checked ~ * #toggle-open {
  display: none;
}

#menu-mobile:checked ~ * #toggle-close {
  display: flex;
}

#menu-mobile:not(:checked) ~ * #toggle-close {
  display: none;
}
