.container{
display: flex;
flex-direction: column;
gap: 1rem;
}
.photodetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}
textarea {
    width: 383px;
    height: 80px;
    resize: none;
}
.image{
   max-width: 432px;
    display: flex;
    flex-wrap: wrap;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttonc{
    background-color: #757575;
    color: #fff;
}
.Comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.Comment_body{
    display: flex;
    flex-direction: column;
    max-width: 390px;
}